.trivia {
  height: 100vh;
  background-color: #0A0A4F;
  display: flex;
}

.main {
  width: 80%;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4) ), url(../addons/game.png);
  width: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  height: 50%;
  position: relative;
}

.timer {
  display: flex;
  justify-content: flex-start;
  height: 50%;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  bottom: 5px;
  left: 75px;
  border: 5px;
  border-radius: 5px;
  color: white;
}

.runningout {
  color: red;
}

.bottom {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.question {
  width: 80%;
  background: linear-gradient(#4319da, rgb(1, 3, 24));
  border: 2px solid white;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
}

.answers {
  width: 100%;
  display: flex;
  justify-content: center;  
  flex-wrap: wrap;
}

.answer {
  width: 40%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(#4319da, rgb(129, 74, 231));
  color: white;
  border: 1px solid white;
  border-radius: 15px;
  font-size: 20px;
  margin: 0 10px 20px 10px;
  cursor: pointer;
}

.answer:hover, .answer.active  {
  background: orange;
}

.answer.correct {
  animation: correct 3s ease forwards;
}

@keyframes correct {
  0%, 22%, 42% {
    background: orange;
  } 
  20%, 40%, 60%  {
    background: linear-gradient(#4319da, rgb(129, 74, 231))
  }
  62%, 100% {
    background: green;
  }
}

.answer.wrong {
  animation: wrong 3s ease forwards;
}

@keyframes wrong {
  0%,
  22%,
  42% {
    background: orange;
  }
  20%,
  40%,
  60% {
    background: linear-gradient(#4319da, rgb(129, 74, 231))
  }
  62%,
  100% {
    background: crimson;
  }
}

.money {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding-inline-start: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.moneyListItem{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
}

.moneyListItem.current {
  min-width: 100%;
  background-color: turquoise;
  border-radius: 10px;
}
